<form class="signup-form">
    <div>
        <label for="username-signup">Enter Username</label>
        <input type="text" class="entry-field" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">Enter password</label>
        <input type="password" class="entry-field" id="password-signup" />
    </div>
    <div>
        <button type="submit" class="login-signup-btn">Create!!!!</button>
    </div>
</form>

<script src="../public/js/singup.js"></script>